@charset "utf-8";
/* CSS Document */

/* header SNS icon */
.header-sns-pc {
position: absolute;
top: 32px;
right: 30px;
display: flex;
justify-content: space-between;
margin: 0;
}
.header-sns-pc li {
margin-right: 15px;
}
.header-sns-pc li:last-child {
margin-right: 0;
}
.header-sns-pc li img {
width: 35px;
}
@media only screen and (max-width:1165px){
	.header-sns-pc {
	right: 20px;
	}
	.header-sns-pc li {
	margin-right: 10px;
	}
	.header-sns-pc li img {
	width: 30px;
	}
}
@media only screen and (max-width:767px){
	.header-sns-pc {
	display: none;
	}
}

/* above Carousel SNS icon */
.topsns-sp {
margin: -1em 0 1em;
padding: 10px 0;
background: #fff;
}
.topsns-sp ul {
display: flex;
justify-content: space-between;
width: 140px;
margin: 0 auto;
}
.topsns-sp li img {
width: 35px;
}
@media only screen and (min-width:768px){
	.topsns-sp {
	display: none;
	}
}

/* menu SNS icon */
.modal-sns ul {
display: flex;
justify-content: space-between;
width: 160px;
margin: 0 auto;
padding: 25px 0 30px;
}
.modal-sns li img {
width: 40px;
}